<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/template :: head">
</head>

<body>
	<div class="container">
		<p th:text="${session.usuarioLogin}"></p>
		<h1>Lista Solicitudes</h1>
		<a class="btn btn-primary" th:href="@{/solicitudes/form}">Crear</a>
		<table th:if="${session.usuarioLogin.rol.idRol!=0}"
			class="table table-striped table-inverse table-responsive text-center">
			<thead class="thead-inverse">
				<tr>
					<th>#</th>
					<th>Fecha de creacion</th>
					<th>Creador</th>
					<th>Descripcion</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="solicitud : ${solicitudes}">
					<td scope="row" th:text="${solicitud.idSolicitud}"></td>
					<td th:text="${solicitud.creada}"></td>
					<td
						th:text="${solicitud.usuariosIdUsuario.nombre +' '+ solicitud.usuariosIdUsuario.apellido}"></td>
					<td th:utext="${solicitud.descripcion}"></td>
					<td th:text="${solicitud.estado}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<th:block th:replace="fragments/template :: scripts">
	</th:block>
</body>

</html>